/**
 * Layout - Footer
 */

.footer {
  padding: space("x-large") 0;
  @include background($theme-accent);

  &__inner {
    @include container("sm");
  }

  &__table {
    @include table();

    tr {
      border-block-end: none;

      &:first-child {
        border-block-start: none;
      }
    }

    td:nth-child(1) {
      width: 6rem;
    }
  }
}
