/**
 * Layout - Header
 */

.header {
  position: relative;
  width: 100%;
  height: 100svh;
  margin: 0 auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);
  background: url("./assets/landscape_kunimi-life.jpg") no-repeat center / cover;

  &__logo {
    width: min(48vw, 12rem);
    margin: 0 auto;
    padding: 1.5rem 0;
    font-size: 2rem;

    @media (min-width: breakpoint("sm")) {
      margin-inline: 1.5rem;
    }
  }

  &__lead {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3rem;
    height: fit-content;
    color: #fff;
    font-family: $font-family-sans;
    font-size: min(8vw, 3rem);
    font-weight: 400;
    letter-spacing: 0.125rem;;
    writing-mode: vertical-rl;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }

  &__social {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    color: #fff;
    transition: all 0.35s ease;
  }
}
