/**
 * Project - Post Item
 */

.postItem {
  &__info {
    @include row(flex-start);
    font-size: font-size("small")
  }

  &__sns > a {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    margin-inline: space("small");
  }

  &__snsicon {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
  }

  &__terms {
    @include row(flex-start);

    a {
      margin-inline-start: space("x-small");
    }
  }

  &__heading {
    font-size: $h3-font-size;
  }

  &.is-single {
    @include row();

    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-block-end: space();
      }
    }
  }
}
