/**
 * Project - Post Item
 */

.postItem {
  &__content {
    position: relative;
  }

  &__info {
    @include row(flex-start);
    font-size: font-size("small")
  }

  &__sns > a {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    margin-inline: space("small");
  }

  &__snsicon {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
  }

  &__terms {
    @include row(flex-start);

    a {
      margin-inline-start: space("x-small");
    }
  }

  &__heading {
    font-size: $h3-font-size;
  }

  &__more > a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50%;
    background-color: theme-color($theme-accent);
    color: theme-color("lightest");

    &:hover {
      background-color: color-active($theme-accent);
    }
  }

  &.is-single {
    @include row();

    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-block-end: space();
      }
    }
  }
}
